@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Cooper Black';
        src: url('./assets/fonts/COOPBL.TTF') format('truetype');
        font-style: normal;
        font-display: swap;
        font-weight: normal;
    }

    :root {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        --radius: 0.5rem
    }

    html, body {
        height: 100%;
    }

    #root {
        min-height: 100vh;

    }
}




